.graficas__body {
    overflow-y: scroll;
    height: 80%;

}

.button__position {
    position: relative;
    left:9%;
}

.space--button
{
    margin-left: 2%;;
}
.h3__position {
    position: relative;
    left:23%;
    margin-top: 4%;

}

.h3_day {
  color:#7cb5ec;
  font-size: 90%;
  margin-top: 10px;

}
.left {
  margin-right: 10px;
}

.right {
    margin-left: -4px;
}
