<div class="button__position">
  <div class="row">
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        (click)="mostrar('ano')"
      >
        Per year
      </button>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <select
        class="form-control blue--border"
        [(ngModel)]="selectYears"
        (change)="putData()"
        name="selectYears"
      >
       <option *ngFor="let year of yearsInput">
          {{ year }}
        </option>
      </select>
    </div>
  </div>
  <div class="row separed">
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        (click)="mostrar('mes')"
      >
        Per month
      </button>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3" *ngIf="mesesOk">
      <ng-multiselect-dropdown
        [placeholder]="'Month'"
        [data]="mesesSort"
        [(ngModel)]="mesFilter"

        [settings]="dropdownSettings"
        (onSelect)="getMonth($event,true)"
        (onDeSelect)="getMonth($event,false)"
        (onDeSelectAll)="onDeSelectAllFunct($event)"
        (onSelectAll)="onSelectAllFunct($event)"
      >
      </ng-multiselect-dropdown>
     <!-- <select
        multi-select
        multiple="multiple"
        class="form-control blueborder"
        [(ngModel)]="mesFilter"
        (change)="getMounth()"
        name="mesFilter"
      >
        <option value="0" disabled>Month</option>
        <option *ngFor="let month of mesesSelect">
          {{ month }}
        </option>
      </select>-->
    </div>
  </div>

  <h3 class="h3_day">
    <i class="pi pi-calendar"></i>
    <span class="left">{{ fechaDiaDato | date: " dd MMM yyyy" }} </span
    ><i class="pi pi-chart-bar left"></i>
    <span class="right">{{ totalDiaDato }}</span>
  </h3>
</div>
<br/>
<br/>
<br/>
<div *ngIf="mostrarAno">
  <highcharts-chart
    [Highcharts]="highcharts"
    [options]="chartOptions"
    [(update)]="datosOk"
    style="width: 80%; height: 80%; display: block"
  >
  </highcharts-chart>
</div>
<div *ngIf="mostrarMes" class="graficas__body">
  <div *ngFor="let datos of filtros; let i = index">
    <highcharts-chart
      [Highcharts]="highcharts"
      [options]="options[i]"
      style="width: 80%; height: 80%; display: block"
    >
    </highcharts-chart>
    <br />
    <br />
  </div>
</div>
