<div class="button__position">
  <div class="row">
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        (click)="mostrar('ano')"
      >
        Per year
      </button>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
    <!--
      <select
        class="form-control blue--border"
        [(ngModel)]="selectYears"
        (change)="putData()"
        name="selectYears"
      >
        <option *ngFor="let year of yearsInput">
          {{ year }}
        </option>
      </select>-->
       <ng-multiselect-dropdown
        [placeholder]="'Years'"
        [data]="yearsInput"
        [(ngModel)]="yearFilter"
        [settings]="dropdownSettingsYears"
        (onSelect)="getYear($event, true)"
        (onDeSelect)="getYear($event, false)"
        (onDeSelectAll)="onDeSelectAllYearFunct($event)"
        (onSelectAll)="onSelectAllYearFunct($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row separed">
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        [disabled]="!buttonMonths"
        (click)="mostrar('mes')"
      >
        Per month
      </button>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3" *ngIf="mesesOk">
      <ng-multiselect-dropdown
        [placeholder]="'Months'"
        [data]="mesesSort"
        [(ngModel)]="mesFilter"
        [settings]="dropdownSettings"
        (onSelect)="getMonth($event, true)"
        (onDeSelect)="getMonth($event, false)"
        (onDeSelectAll)="onDeSelectAllMonthFunct($event)"
        (onSelectAll)="onSelectAllMonthFunct($event)"
      >
      </ng-multiselect-dropdown>

    </div>

  </div>
 <!--<div class="row separed">
    <div class="col-8 col-sm-8 col-md-3 col-lg-3">
      <button
        type="button"
        class="btn btn-outline-warning btn-block"
        [disabled]="!buttonMonths"
        (click)="mostrar('pre')"
      >
        Predictions
      </button>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3" *ngIf="preOk">
      <ng-multiselect-dropdown
        [placeholder]="'Predictions'"
        [data]="mesesSortPredictions"
        [(ngModel)]="mesFilterPredictions"
        [settings]="dropdownSettings"
        (onSelect)="getMonthPredictions($event, true)"
        (onDeSelect)="getMonthPredictions($event, false)"
        (onDeSelectAll)="onDeSelectAllMonthPredictionsFunct($event)"
        (onSelectAll)="onSelectAllMonthPredictionsFunct($event)"
      >
      </ng-multiselect-dropdown>

    </div>
  </div>-->
  <h3 class="h3_day">
    <i class="pi pi-calendar"></i>
    <span class="left">{{ fechaDiaDato | date: " dd MMM yyyy" }} </span
    ><i class="pi pi-chart-bar left" title="Daily cases"></i>
    <span class="right">{{ totalDiaDato }}</span
    ><!---->
    <i title="Notification rate"
      class="pi pi-chart-line incidenciaIcon"
      *ngIf="incidenciaInput != -1"
    ></i>
    <span class="incidencia" *ngIf="incidenciaInput != -1">{{
      incidenciaInput
    }}</span>
  </h3>
</div>
<div *ngIf="desktopBoolean">
  <br />
  <br />
</div>
<div *ngIf="mostrarAno"   class="graficas__body" id="top">
 <div *ngFor="let datos of filtrosYears; let i = index">
    <highcharts-chart
      [Highcharts]="highcharts"
      [options]="optionsYear[i]"
      style="width: 80%; height: 80%; display: block"
      [(update)]="datosYearOk"
    >
    </highcharts-chart>
    <br />
    <br />
  </div>

</div>
<div *ngIf="mostrarMes" class="graficas__body" id="top">
  <div *ngFor="let datos of filtrosMonth; let i = index">
    <highcharts-chart
      [Highcharts]="highcharts"
      [options]="optionsMonth[i]"
      style="width: 80%; height: 80%; display: block"
    >
    </highcharts-chart>
    <br />
    <br />
  </div>
</div>


<!--<div *ngIf="mostrarPre" class="graficas__body" id="top">
  <div *ngFor="let datos of filtrosMonthPredictions; let i = index">
    <highcharts-chart
      [Highcharts]="highcharts"
      [options]="optionsMonthPredictions[i]"
      style="width: 80%; height: 80%; display: block"
    >
    </highcharts-chart>
    <br />
    <br />
  </div>
</div>-->
