
<div id="wrapper">
    <select
        class="form-control blue--border col-6 col-md-4 col-lg-4"
        [(ngModel)]="selectDate"
        (change)="changeDate()"
        name="selectDate"
      >
        <option *ngFor="let date of dates">
          {{ date }}
        </option>
</select>

</div>

<br/>
<highcharts-chart
id="container"
[Highcharts]="Highcharts"
[(update)]="datosOk"
[constructorType]="chartConstructor"
[options]="chartOptions"
 style="width: 100%; height: 580px; display: block;z-index:1000"
 (click)="selectCountry($event)">
</highcharts-chart>
