.blue--border
{
    border-color: #7cb5ec;
    display: inline-block;
}


#wrapper {
  text-align: center;
}




.planet {
  margin-top: 8rem;
}



@media only screen and (max-width: 56.25em) {
  .planet {
    margin-top: 0.8rem;
  }
}
