<div class="button__position">
    <button type="button" class="btn btn-outline-primary" (click)="mostrar('ano')">Per year</button>
    <button  *ngIf="mostrarBotoMes" type="button" class="btn btn-outline-primary space--button" (click)="mostrar('mes')">Per month</button>
</div>
<br/>

<div *ngIf="mostrarAno">
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" [(update)]="datosOk"
        style="width: 80%; height: 80%; display: block;">
    </highcharts-chart>
</div>
<div *ngIf="mostrarMes" class="graficas__body">
    <div *ngFor="let datos of meses; let i = index ">
        <highcharts-chart [Highcharts]="highcharts" [options]="options[i]"
            style="width: 80%; height: 80%; display: block;">
        </highcharts-chart>
        <br />
        <br />
    </div>

</div>