.graficas__body {
    overflow-y: scroll;
    height: 80%;
   
}

.button__position {
    position: relative;
    left:9%;
}

.space--button
{
    margin-left: 2%;;
}
.h3__position {
    position: relative;
    left:23%;
    margin-top: 4%;
 
}